# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Operating system
.DS_Store
Thumbs.db

# Large local dataset
data/data_extracted.json
